<div class="container">


  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-3" *ngFor="let i of nombre">
      <div class="card border-secondary h-100">
        <img src="{{i['thumbnail']['path']+ '/standard_amazing.jpg'}}" class="img-thumbnail" alt="">
        <img *ngIf="i['thumbnail']['extension']  !=  'jpg' " src="https://cdn.worldvectorlogo.com/logos/marvel.svg"
          style="width: 318px; height: 318px;" class="img-thumbnail " alt="">
        <div class="card-header">
          <h5 class="card-title"> <b> {{ i["name"] }}</b></h5>
        </div>
        <div class="card-body">
          <b>Numero de comics: {{ i['comics']['available'] }} </b>
        </div>
        <div class="card-footer">
          <p class="card-text"> Data provided by Marvel. © 2021 MARVEL</p>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="nombre.length < 1 " class="container text-center">
    <div class="mx-auto ld ld-tick " style="animation-duration:2.0s; animation-delay:4.25s; width: 100%;">
      <img  src="../../assets/img/il_570xN.1933675662_kbsf.jpg" alt="">
      <h1 >404 NoT fOUND</h1>
    </div>
  </div>
</div>
